<template name="mappingItems">

  <!--

  start

  -->

    <div id="modalImport" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Import</h4>
          </div>
          <div class="modal-body">Data can be imported from a delimited file containing Old Code and New Code
            {{> upload_bootstrap}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary btnImport" data-dismiss="modal"><span class="glyphicon glyphicon-import"></span> Import</button>
            </div>
        </div>
      </div>
    </div>

  <!---
  END...
  -->
  <div class="panel panel-primary">
    <div class="panel-heading">
      {{#if editingTable}}
        <table>
          <tr>
            <td>
                <input class="form-control" id="newTableName" name="newTableName" type="text" value="{{tableName}}">
            </td>
            <td>
            </td>
            <td>
              <button class="glyphicon glyphicon-ok btn-xs btn-success pull-right btnSave" data-toggle="tooltip" title="Save"></button>
              <button class="glyphicon glyphicon-remove btn-xs btn-danger pull-right btnCancel" data-toggle="tooltip" title="Cancel"></button>
            </td>
          </tr>
        </table>
      {{else}}
        {{tableName}}
        {{#if isSuperUser}}
          <button class="glyphicon glyphicon-pencil btn-xs btn-info pull-right btnEdit" data-toggle="tooltip" title="Edit Table"></button>
        {{/if}}
      {{/if}}
    </div>
    <div class="panel-body">
      {{#if editingTable}}
        <input class="form-control" id="newTableDescription" name="newTableDescription" type="text" value="{{description}}">
      {{else}}
        <p>{{description}}</p>
      {{/if}}
    </div>
    <div class="panel-footer">
      Mapping used for:
      <div class="btn-toolbar">
      {{#each systems}}
        {{> mappingSystemItem}}
      {{/each}}
    </div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">Mappings
      <div class="btn-toolbar">
        <button class="btn btn-xs {{includeOld}} pull-right btnMaps" id="oldMaps" name="oldMaps">{{oldMappingText}}</button>

        {{#if isSuperUser}}
          <button type="button" data-toggle="modal" data-target="#modalImport" class="btn btn-xs btn-info pull-right btnUpload"><span class="glyphicon glyphicon-import"></span> Import</button>
<!--          <button type="button" class="btn btn-xs btn-info pull-right btnDownload"><span class="glyphicon glyphicon-export"></span> Export</button> -->
          <a href="{{pathFor route='mappingDownload' data=currentEntry}}" class="btn btn-xs btn-info pull-right" target="_blank"><span class="glyphicon glyphicon-export"></span> Export</a>
        {{/if}}

      </div>

    </div>
    <div class="panel-body">
    <table class="table table-hover table-striped">
        <thead>
          <th class="oldCodeHeader">Old Code <span class="glyphicon {{sortOrderColumn 'oldCode'}}"></span></th>
          <th class="newCodeHeader">New Code <span class="glyphicon {{sortOrderColumn 'newCode'}}"></span></th>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="input-group">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
              </span>
              <input class="form-control oldCodeSearch" id="oldCodeSearch" name="oldCodeSearch" type="text" value="">
            </div>
            </td>
            <td>
              <div class="input-group">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
              </span>
              <input class="form-control newCodeSearch" id="newCodeSearch" name="newCodeSearch" type="text" value="">
            </div>
            </td>
            <td>
            </td>
          </tr>
        {{#each mappingTableItems}}
        <tr class="mappingRow"><span class="mappingId hide" name="mappingId">{{_id}}</span>

            <td class="mappingOld" name="mappingOld">
              <input class="form-control oldCodeEdit {{editItem 'edit'}}" id="oldCodeEdit" name="oldCodeEdit" type="text" value="{{oldCode}}">
              <span class="{{editItem 'view'}} mappingOldCode {{showActiveRecord}}" name="mappingOldCode">{{oldCode}}</span>
            </td>
            <td class="mappingNew" name="mappingNew">
              <input class="form-control newCodeEdit {{editItem 'edit'}}" id="newCodeEdit" name="newCodeEdit" type="text" value="{{newCode}}">
              <span class="{{editItem 'view' mappingNewCode}} {{showActiveRecord}}" name="mappingNewCode">{{newCode}}</span>
            </td>
            <td>
              {{#if canEdit}}
              {{#if activeRecord}}
                {{#if canRemove}}
                  <button class="glyphicon glyphicon-remove btn-xs btn-danger pull-right btnRemove {{editItem 'view'}}" data-toggle="tooltip" title="Remove Mapping"></button>
                {{/if}}
              {{else}}
                {{#if canRemove}}
                  <button class="glyphicon glyphicon-ok btn-xs btn-success pull-right btnReinstate {{editItem 'view'}}" data-toggle="tooltip" title="Reinstate Mapping"></button>
                {{/if}}
              {{/if}}
              <button class="glyphicon glyphicon-ok btn-xs btn-success pull-right btnEditSave {{editItem 'edit'}}" data-toggle="tooltip" title="Save"></button>
              <button class="glyphicon glyphicon-remove btn-xs btn-danger pull-right btnEditCancel {{editItem 'edit'}}" data-toggle="tooltip" title="Cancel"></button>
              {{/if}}
            </td>
        </tr>
        {{/each}}
        {{#if canAdd}}
        <tr class="newRow">
          <td>
            <input class="form-control oldCodeInput" id="oldCodeInput" name="oldCodeInput" type="text" value="">
          </td>
          <td>
            <input class="form-control newCodeInput" id="newCodeInput" name="newCodeInput" type="text" value="">
          </td>
          <td>
            <button class="glyphicon glyphicon-ok btn-xs btn-success pull-right btnAdd {{textChanged}}"></button>
            <button class="glyphicon glyphicon-remove btn-xs btn-danger pull-right btnAddCancel {{textChanged}}"></button>
          </td>
        </tr>
        {{/if}}
        </tbody>
    </table>
  </div>
  </div>
</template>
