<template name="mappingTable">
<div class="panel panel-primary">
  <div class="panel-heading">
    Mapping Tables
    {{#if isSuperUser}}
      <div class="btn-toolbar">
        <a class="btn btn-xs btn-info pull-right" href="{{pathFor 'mappingTableAdd'}}"><span class="glyphicon glyphicon-plus"></span> Add Table</a>
      </div>
    {{/if}}
  </div>
  <div class="panel-body">
    <div class="table-responsive">
    <table class="table table-hover table-striped">
      <tbody>
      {{#each mappingTable}}
        {{> mappingTableItem}}
      {{/each}}
    </tbody>
    </table>
  </div>
  </div>
</div>
</template>
