<template name="accounts">
  <div class="panel panel-primary">
    <div class="panel-heading">
      Users
      <div class="btn-toolbar">
        <a class="btn btn-xs btn-info pull-right" data-toggle="tooltip" title="Add a new user" href="{{pathFor 'accountAdd'}}"><span class="glyphicon glyphicon-plus"></span> Add User</a>
      </div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <th>User</th>
          <th>Can View</th>
          <th>Can Add</th>
          <th>Can Edit</th>
          <th>Can Delete</th>
          <th>Super User</th>
        </thead>
        <tbody>
            {{#each account}}
              {{> accountItem}}
            {{/each}}
        </tbody>
      </table>
    </div>
    </div>
  </div>
</template>
