<template name="accountItem">
  <tr>
    <td class="dataColumn">
      <a href="{{pathFor 'accountEdit'}}" data-toggle="tooltip" title="Edit {{userPersonName}}">{{userPersonName}} ({{username}})</a>
    </td>
    <td class="dataColumn">
      <button class="btn btn-xs {{canView}} btnCanView"><span class="glyphicon glyphicon-search"></span></button>
    </td>
    <td class="dataColumn">
      <button class="btn btn-xs {{canAdd}} btnCanAdd"><span class="glyphicon glyphicon-plus"></span></button>
    </td>
    <td class="dataColumn">
      <button class="btn btn-xs {{canEdit}} btnCanEdit"><span class="glyphicon glyphicon-pencil"></span></button>
    </td>
    <td class="dataColumn">
      <button class="btn btn-xs {{canRemove}} btnCanRemove"><span class="glyphicon glyphicon-remove"></span></button>
    </td>
    <td class="dataColumn">
      <button class="btn btn-xs {{isSuperUser}} btnSuperUser"><span class="glyphicon glyphicon-star"></span></button>
    </td>
    <td>
      <span class="hide" name="currentUser" id="currentUser">{{username}}</span>
      <button class="btn btn-xs btn-danger btnRemoveUser" data-toggle="tooltip" title="Remove user"><span class="glyphicon glyphicon-remove"></span></button>
    </td>
  </tr>
</template>
