<template name="systemInfo">
  <tr>
    <td class="systemNameColumn">
      <span class="hide" name="systemId">{{_id}}</span>
      <input class="form-control {{editItem 'edit'}}" id="systemName" name="systemName" type="text" value="{{systemName}}">
      <span class="{{editItem 'view'}} systemNames">{{systemName}}</span>
    </td>
    <td class="actionButtonColumn">
      <div class="btn-toolbar">
        <button class="btn btn-xs pull-right btn-danger btnCancelEdit {{editItem 'edit'}}" data-toggle="tooltip" title="Cancel"><span class="glyphicon glyphicon-remove"></span></button>
        <button class="btn btn-xs pull-right btn-success btnSaveEdit {{editItem 'edit'}}" data-toggle="tooltip" title="Save"><span class="glyphicon glyphicon-ok"></span></button>
        <button class="btn btn-xs pull-right btn-danger btnRemoveSystem {{editItem 'view'}}" data-toggle="tooltip" title="Remove"><span class="glyphicon glyphicon-remove"></span></button>
        <button class="btn btn-xs pull-right btn-info btnEditSystem {{editItem 'view'}}" data-toggle="tooltip" title="Edit"><span class="glyphicon glyphicon-pencil"></span></button>
      </div>
    </td>
  </tr>
</template>
