<template name="systemEdit">
  <div class="panel panel-primary">
    <div class="panel-heading">
      System Details
    </div>
    <div class="panel-body">
        <table>
          <tr>
            <td>
                <input class="form-control" id="systemName" name="systemName" type="text" value="{{systemName}}">
            </td>
            <td>
            </td>
            <td>
              <button class="glyphicon glyphicon-ok btn-xs btn-success pull-right btnSave"></button>
              <button class="glyphicon glyphicon-remove btn-xs btn-danger pull-right btnCancel"></button>
            </td>
          </tr>
        </table>
    </div>
  </div>

</template>
