<template name="systemDetails">
  <div class="panel panel-primary">
    <div class="panel-heading">
      Systems
      <a class="btn btn-xs btn-info pull-right {{disableButton}} btnAddSystem" href="#"><span class="glyphicon glyphicon-plus"></span> Add System</a>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
      <table class="table table-hover table-striped">
        <tbody>
        {{#each systems}}
          {{> systemInfo}}
        {{/each}}

        {{#if addSystem}}
        <tr>
          <td>
            <input class="form-control" id="newSystemName" name="newSystemName" type="text" value="">
          </td>
          <td>
            <div class="btn-toolbar">
              <button class="btn btn-xs pull-right btn-danger btnCancelAdd" data-toggle="tooltip" title="Cancel"><span class="glyphicon glyphicon-remove"></span></button>
              <button class="btn btn-xs pull-right btn-success btnSaveAdd" data-toggle="tooltip" title="Save"><span class="glyphicon glyphicon-ok"></span></button>
            </div>
          </td>
        </tr>
        {{/if}}
      </tbody>
      </table>
    </div>
    </div>
  </div>
</template>
